body{
  background-color: black;
  color: #fff;
  font-family: sans-serif;
}

.destaque{
    color: #22d4fd;
}

.botoes a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px 38px;
}